.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;
}

.comment-section ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  color: var(--font-color-1);
  padding: 1.5rem;
  border-radius: 18px;
  background-color: #e3e3e374;
  box-shadow: 9px 16px 5px 1px rgba(166, 166, 166, 1);
}
