.all-posts {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.see-more {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #a6a6a6;
}

.post-index {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.likes-comments {
  display: flex;
  gap: 1rem;
  align-self: end;
  max-width: 50%;
}
